VITE_RAZORPAY_KEY_ID=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
FIREBASE_DATABASE_URL=https://parking-system-939dd-default-rtdb.firebaseio.com
FIREBASE_SERVICE_ACCOUNT_JSON=
PORT=5050
VITE_MAP_STYLE_URL=
VITE_MAP_SEARCH_RADIUS_KM=25
VITE_ROUTING_URL=https://router.project-osrm.org/route/v1



